.bg-1 {
      background-color: #F7F6E2; /* Dark Blue */
      color: #000000;
}

.bg-2 {
      background-color: #1F8093; /* Dark Blue */
      color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #969696;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 60px;
}

/* .jumbotron {
    background-color: #2d2d30;
    color: #ffff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
} */
h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #E4C85D;
}

p {font-size: 16px;}

/* Remove the navbar's default margin-bottom and rounded borders */
/* .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #F7F6E2;
} */

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #000000;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
/* .open .dropdown-toggle {
color: #fff;
background-color: #555 !important;
} */
/* .dropdown-menu li a {
color: #000 !important;
} */
/* .dropdown-menu li a:hover {
background-color: red !important;
} */
/* .navbar-nav li a:hover {
    color: #1abc9c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
} */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/* style settings for svg*/
svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* Tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 125px;
	z-index: 10;
	display: block;
	opacity: 0;
}

/* pie chart */
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
