/**
 * Name: Mercylyn Wiemer (10749306)
 * Course: Programming Project
 * Date: 28-06-2018
 * The Beatles: albums and singles in the official charts company.
 * Highest position, no 1 albums and singles, and lead vocals.
 *
 * dropdown menu
 * https://www.w3schools.com/howto/howto_js_dropdown.asp
 *
 * website themes:
 * https://www.w3schools.com/bootstrap/bootstrap_theme_band.asp
 * https://www.w3schools.com/bootstrap/bootstrap_theme_company.asp
 *
 * tooltip:
 * http://bl.ocks.org/Caged/6476579
 * http://bl.ocks.org/d3noob/a22c42db65eb00d4e369
 */

.bg-1 {
    background-color: #F7F6E2;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 60px;
}

.bg-1 .fa {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000000;
}

.bg-1 .fa:hover {
    color: #1F8093;
}

.bg-2 {
    background-color: #F7F6E2;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-2 .fa {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000000;
}

.bg-2 .fa:hover {
    color: #1F8093;
}

.bg-3 {
    background-color: #1F8093; /* Dark Blue */
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 30px;
}

.bg-3 .fa {
        font-size: 36px;
        margin-bottom: 20px;
        color: #F7F6E2;
}

.bg-3 .fa:hover {
        color: #000000;
}

.bg-4 {
    background-color: #F7F6E2; /* White */
    color: #555555;
    padding-top: 50px;
    padding-bottom: 30px;
}

.bg-5 {
    background-color: #000000;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .fa {
    font-size: 36px;
    margin-bottom: 20px;
    color: #F7F6E2;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .fa:hover {
    color: #1F8093;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
    background-color: black;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}

h5 {
    font-size: 14px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 0px;
}

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #E4C85D;
}

p {
    font-size: 16px;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #000000;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/* .row.content {
    height: 450px;
} */

/* On small screens, set height to 'auto' for sidenav and grid */
/* @media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
} */

/* style settings for svg*/
svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* Tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 125px;
	z-index: 10;
	display: block;
	opacity: 0;
}

/* donut chart */
.slice text {
  font: 18px sans-serif;
  text-anchor: middle;
  fill: #ffffff;
}

.legend text {
  font: 12px sans-serif;
  fill: #ffffff;
}
